
<nav style="text-align: right">
<% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  <% else %>
    <%= link_to('Login', new_user_session_path)  %> |
    <%= link_to('Sign Up', new_user_registration_path)  %>
  <% end %>
</nav>

<h1 style="text-align: center">Welcome To NewsReader, please login or sign up </h1>
<!-- <p style="text-align: center">If you're logged in, check out <%= link_to "the app", app_path %>!</p> -->

<div id="root"></div>

<%= javascript_pack_tag 'index' %>
